.header {
	width: 100% ;
	height: 40px ;
	background-color: #8a8a8a;
	font-family: Arial;
	font-weight: medium ;
	font-size: 16px ;
	text-align: center ;
	color: white ;
}

.scrolling {
	margin: 0 auto ;
	width: 100% ;
	height: 100% ;
	overflow-x: scroll ;
	overflow-y: hidden ;
	white-space: nowrap ;
	word-wrap: normal ;
}

.body {
	background-color: #232323;
}

.screenshot-image {
	width: 50% ;
	height: 50% ;
}

#br-header {
	font-size: 5px ;
}

#home {
	color: black ;
	font-family: Arial;
	text-decoration-line: none ;
	font-weight: bold ;
}

#white-link {
	font-family: Arial;
	color: black ;
	text-decoration-line: none ;
	font-weight: medium ;
}

#end-text {
	font-family: Arial;
	font-size: 12px ;
	color: gray ;
	text-align: center ;
}

#fnf-lite-end {
	font-family: Arial;
	font-weight: bold
	font-size: 14px ;
	color: gray ;
	text-align: center ;
}

#header-fnf-lite {
	font-family: Arial;
	font-weight: medium
	font-size: 14px ;
	color: #8a8a8a ;
}

#gray-font {
	text-decoration-line: none ;
	font-family: Arial;
	color: gray ;
}

#changes {
	font-family: Arial;
	color: white ;
}

#other-changes {
	font-family: Arial;
	font-size: 12px ;
	color: gray ;
}
