.header {
	width: 100% ;
	height: 40px ;
	background-color: #FF8800;
	font-family: Arial;
	font-weight: medium ;
	font-size: 1em ;
	text-align: center ;
	color: white ;
}

.scrolling {
	margin: 0 auto ;
	width: 100% ;
	height: 100% ;
	overflow-x: scroll ;
	overflow-y: hidden ;
	white-space: nowrap ;
	word-wrap: normal ;
}

.screenshot-image {
	width: 50% ;
	height: 50% ;
}

#br-header {
	font-size: 5px ;
}

#home {
	color: black ;
	font-family: Arial;
	text-decoration-line: none ;
	font-weight: bold ;
}

#white-link {
	font-size: 1em;
	font-family: Arial;
	color: black ;
	text-decoration-line: none ;
	font-weight: medium ;
}

#fnf-lite-end {
	font-family: Arial;
	font-weight: bold
	font-size: 1em ;
	text-align: center ;
}

#header-fnf-lite {
	font-family: Arial;
	font-weight: medium
	font-size: 1em;
	color: #FF8800 ;
}

#comments {
	font-family: Arial;
	font-weight: medium;
	font-size: 1.5em;
}

#gray-font {
	text-decoration-line: none ;
	font-family: Arial;
}

#username {
	font-family: Arial;
	color: #A0A0A0
}

#usercomment {
	font-family: Arial;
	color: #202020
}
